* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #161a1e;
  background-color: #e3d3c4;
}
